In [1]:
""" Pandas Data Cleaning and Preprocessing 

Objectives:

Data cleaning
- We will learn to handle missing values
- We will learn to remove duplicate records
- We will learn to convert data types
- We will learn to handle outliers

Data preprocessing
- We will learn to normalize / standardize numerical data
- We will learn to encode categorical data
"""

import pandas as pd
import os

pd.__version__

'2.2.2'

In [169]:
root_dir = os.path.dirname(os.getcwd())
data_dir = os.path.join(root_dir, "data")
dataset_path = os.path.join(data_dir, "health_monitor_data.csv")
print("root_dir", root_dir)
print("data_dir", data_dir)
print("dataset_path", dataset_path)

root_dir E:\PyCharmProjects\pythonProject
data_dir E:\PyCharmProjects\pythonProject\data
dataset_path E:\PyCharmProjects\pythonProject\data\health_monitor_data.csv

In [170]:
health_monitor_data = pd.read_csv(dataset_path)
health_monitor_data.head()

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

In [171]:
health_monitor_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.5+ KB

In [172]:
""" Handle missing values 
- Approach 1: Remove rows
- Approach 2: Replace empty cells with a value (Imputation)
"""

health_monitor_data.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [173]:
health_monitor_data[ health_monitor_data.isnull().any(axis=1) ]

    Duration          Date  Pulse  Maxpulse  Calories
18        45  '2020/12/18'     90       112       NaN
22        45           NaN    100       119     282.0
28        60  '2020/12/28'    103       132       NaN

In [174]:
""" Replace """

health_monitor_data["Calories"].fillna(
    value=health_monitor_data["Calories"].mean(),
    inplace=True
)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_5844\3157583291.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  health_monitor_data["Calories"].fillna(

In [175]:
health_monitor_data.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [176]:
""" Remove rows """

health_monitor_data.dropna(inplace=True)

In [177]:
health_monitor_data.isnull().sum()

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [178]:
""" Handle duplicate records 
    - 1 F
    - 2 F
    - 3 F
    - 3 T
    - 5 F
    - 4 F
    - 5 T
    - 5 T
"""

health_monitor_data.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [179]:
health_monitor_data.duplicated().sum()

np.int64(1)

In [180]:
is_duplicate = health_monitor_data.duplicated()
health_monitor_data[ is_duplicate ]

    Duration          Date  Pulse  Maxpulse  Calories
12        60  '2020/12/12'    100       120     250.7

In [181]:
health_monitor_data.drop_duplicates(inplace=True)

In [182]:
health_monitor_data.duplicated().sum()

np.int64(0)

In [183]:
"""
Type conversion

"""

print(health_monitor_data['Date'].dtype)

object

In [184]:
health_monitor_data["Date"] = health_monitor_data["Date"].astype("datetime64[ns]")

health_monitor_data.head()

   Duration       Date  Pulse  Maxpulse  Calories
0        60 2020-12-01    110       130     409.1
1        60 2020-12-02    117       145     479.0
2        60 2020-12-03    103       135     340.0
3        45 2020-12-04    109       175     282.4
4        45 2020-12-05    117       148     406.0

In [185]:
print(health_monitor_data["Date"].dtype)

datetime64[ns]

In [186]:
""" Handling outliers 

- Remove outliers: IQR (Statistical approach)
- We identify a lower bound and upper bound for outliers
- Remove all values that does not fall into the range
"""


Q1 = health_monitor_data["Pulse"].quantile(0.25)
Q3 = health_monitor_data["Pulse"].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR


not_outliers = health_monitor_data["Pulse"].between(lower_bound, upper_bound)
print(lower_bound, upper_bound)

88.75 118.75

In [187]:
# health_monitor_data = health_monitor_data[~not_outliers]
# health_monitor_data.head()

In [188]:
# health_monitor_data = health_monitor_data[not_outliers]
# 
# health_monitor_data.head()

In [189]:
""" Data Preprocessing 
- Numeric => Standardize / Scaling / Normalization
- Categorical (Fruits: Apple, Orange, Grape)
"""

' Data Preprocessing \n- Numeric => Standardize / Scaling / Normalization\n- Categorical (Fruits: Apple, Orange, Grape)\n'

In [190]:
def standard_scaler(col):
    """ zero mean unit variance """
    mean = col.mean()
    std = col.std()
    return (col - mean) / std


health_monitor_data["Pulse"] = health_monitor_data["Pulse"].agg(standard_scaler)
health_monitor_data["Maxpulse"] = health_monitor_data["Maxpulse"].agg(standard_scaler)
health_monitor_data.head()

   Duration       Date     Pulse  Maxpulse  Calories
0        60 2020-12-01  0.779174  0.068103     409.1
1        60 2020-12-02  1.649529  1.203149     479.0
2        60 2020-12-03 -0.091180  0.446451     340.0
3        45 2020-12-04  0.654838  3.473240     282.4
4        45 2020-12-05  1.649529  1.430158     406.0

In [191]:
""" Encoding categorical data 
- One Hot Encoding (using pandas and sklearn)
- Label Encoding 
"""
dataset_path = os.path.join(data_dir, "temperatures.csv")

temperatures = pd.read_csv(dataset_path)
temperatures.drop(columns=['Unnamed: 0', 'date'], inplace=True)
temperatures.head()

      city        country  avg_temp_c
0  Abidjan  Côte D'Ivoire      27.293
1  Abidjan  Côte D'Ivoire      27.685
2  Abidjan  Côte D'Ivoire      29.061
3  Abidjan  Côte D'Ivoire      28.162
4  Abidjan  Côte D'Ivoire      27.547

In [192]:
cities = ["Moscow", "Dhaka", "Chicago"]

temperatures = temperatures.query(
    "city in @cities" 
)

print(len(temperatures))

temperatures.head()

495

         city        country  avg_temp_c
3465  Chicago  United States       0.137
3466  Chicago  United States       4.083
3467  Chicago  United States       8.274
3468  Chicago  United States       7.615
3469  Chicago  United States      13.867

In [193]:
temperatures["city"].value_counts()

city
Chicago    165
Dhaka      165
Moscow     165
Name: count, dtype: int64

In [194]:
temperatures["country"].value_counts()

country
United States    165
Bangladesh       165
Russia           165
Name: count, dtype: int64

In [ ]:
""" One-Hot encoding 
Place 1: Chicago
Place 2: Moscow
Place 3: Dhaka

For chicago: 1 0 0
For Moscow: 0 1 0
For Dhaka: 0 0 1
"""

In [195]:
temperatures = pd.get_dummies(
    temperatures, 
    columns=["city"], 
    sparse=True
)

temperatures.head()

            country  avg_temp_c  city_Chicago  city_Dhaka  city_Moscow
3465  United States       0.137          True       False        False
3466  United States       4.083          True       False        False
3467  United States       8.274          True       False        False
3468  United States       7.615          True       False        False
3469  United States      13.867          True       False        False

In [197]:
""" Label Encoding """

temperatures['country'] = pd.Categorical(
    temperatures['country'],
).codes

temperatures.tail()

       country  avg_temp_c  city_Chicago  city_Dhaka  city_Moscow
10885        1      16.152         False       False         True
10886        1      18.718         False       False         True
10887        1      18.136         False       False         True
10888        1      17.485         False       False         True
10889        1         NaN         False       False         True

In [198]:
pd.Categorical(
    temperatures['country'],
)

[2, 2, 2, 2, 2, ..., 1, 1, 1, 1, 1]
Length: 495
Categories (3, int8): [0, 1, 2]

In [ ]:
""" Which one should I choose? 
One hot encoding issues:
    - What if the categories are large? (Memory issue)
    - What if order / Rank matters for example small, medium, large? What then?
    
    Answer is label encoding. 
"""

In [ ]:
""" Image processing 

- Fixed shape
- Gray scale conversion
- Brightness normalization / standardization (zero means unit variance)
- Augmentation (Rotation, Flip)
"""