# Python Fundamentals.
### Joy Shib.

## Printing in Python.

In [ ]:
print("Hello world.")
print("My name is Joy.")
print("I am very excited", end=" ")
print("about this course", end="!")

Hello world.
My name is Joe.
I am very excited about this course!

## variables..

In [ ]:
# declare a variable
my_var = 100;
print("the valuse is : " , my_var);

the valuse is :  100

In [ ]:
# we can print the variable type by using type() function..

print(type(my_var))

<class 'int'>

In [ ]:
# amra caile eki variable different data time er jonno use korte parbo.

my_var = "My Name Is Joy Shib";

print(my_var);
print(type(my_var));

My Name Is Joy Shib
<class 'str'>

## amra caile python eh onk vabe print korte pari

In [ ]:
my_var = 1
print(f"my_var is {my_var}")
print(f"type(my_var) = {type(my_var)}\n")

my_float_var = 3.323614527
print(f"my_float_var={my_float_var}")
print(f"type(my_float_var) = {type(my_float_var)}\n")

my_string_var = "Tiger"
print(f"my_string_var={my_string_var}")
print(f"type(my_string_var) = {type(my_string_var)}\n")

my_var is 1
type(my_var) = <class 'int'>

my_float_var=3.323614527
type(my_float_var) = <class 'float'>

my_string_var=Tiger
type(my_string_var) = <class 'str'>

## Print the certian num of decimal points.

In [ ]:
print(f"Printing the variable upto 3 decimal points, my_float_var = {my_float_var:0.3f}")

Printing the variable upto 3 decimal points, my_float_var = 3.324

## Some escape character.

In [ ]:
print("Name:\tJoy Shib")
print("Favorite Quote:\t \'Life is full of mara\'")

Name:	Joy Shib
Favorite Quote:	 'Life is full of mara'

## Tuples in Python..

In [ ]:
# declear a tuple

my_tuple  = (
    "joy shib",
    "BAN",
    "Softwere Engineer",
    12000000,
    ["c/c++", "JAVA", "Python", "JAVASCRIPT"]
)
my_tuple

('joy shib',
 'BAN',
 'Softwere Engineer',
 12000000,
 ['c/c++', 'JAVA', 'Python', 'JAVASCRIPT'])

## Amra caile array er moto kore indexing er maddhome access korte parbo tuple..

In [ ]:
my_tuple[0]

'joy shib'

## Slicing a tuple ( ekta range er value gula print korte parbo).

In [ ]:
my_tuple[0:3]
# 0 - 3 er range eh ja ache seta print korbe.

('joy shib', 'BAN', 'Softwere Engineer')

## Tuple Unpacking..

In [ ]:
name, country, profession, salary, favourite_languages = my_tuple
name

'BAN'

In [ ]:
country

'BAN'

In [ ]:
salary

12000000

# Dictionary.

In [ ]:
# lets create a dictionary..

student = {
     "name" : "Joy Shib",
     "Country" : "BANGLADESH",
     "Age" : 22,
     "Academic Year" : "third-Year",
     "Department " : "CSE",
     "Favourite-langauge" : "C/C++"
}
student

{'name': 'Joy Shib',
 'Country': 'BANGLADESH',
 'Age': 22,
 'Academic Year': 'third-Year',
 'Department ': 'CSE',
 'Favourite-langauge': 'C/C++'}

## Access korrar jonno dictionary nam likhe then jeta cai seta likhte hbe.
## for example : student['country'].

In [ ]:
# access the dictionary

student['Country']

'BANGLADESH'

In [ ]:
student['Age']

22

## Add a new item in  the dictionary.

In [ ]:
student["Quality"] = "BEST"
student["Expected-salary"] = 200000
student

{'name': 'Joy Shib',
 'Country': 'BANGLADESH',
 'Age': 22,
 'Academic Year': 'third-Year',
 'Department ': 'CSE',
 'Favourite-langauge': 'C/C++',
 'Quality': 'BEST',
 'Expected-salary': 200000}

# Delete any item.

In [ ]:
# Check if the key exists before deleting it
if "Academic Year" in student:
    del student["Academic Year"]
    print("Key 'Academic Year' deleted successfully.")
else:
    print("Key 'Academic Year' not found in the dictionary.")
student # Prints the dictionary to see its current state

Key 'Academic Year' not found in the dictionary.

{'name': 'Joy Shib',
 'Country': 'BANGLADESH',
 'Department ': 'CSE',
 'Favourite-langauge': 'C/C++',
 'Expected-salary': 200000}

In [ ]:
# access the items

student.items()

dict_items([('name', 'Joy Shib'), ('Country', 'BANGLADESH'), ('Department ', 'CSE'), ('Favourite-langauge', 'C/C++'), ('Expected-salary', 200000)])

In [ ]:
# access the keywords

student.keys()

dict_keys(['name', 'Country', 'Department ', 'Favourite-langauge', 'Expected-salary'])

In [ ]:
# access the values.

student.values()

dict_values(['Joy Shib', 'BANGLADESH', 'CSE', 'C/C++', 200000])

# Looping on the dictionary items.

In [1]:
student = {
    "name": "Joy Shib",
    "country": "Bangladesh",
    "age": 20,
    "grade": "A"
}

# Loop through the dictionary items and print them as key-value pairs
for key, value in student.items():
    print(f"{key}: {value}")

name: Joy Shib
country: Bangladesh
age: 20
grade: A

## Operators in Python..

In [50]:
from os.path import expanduser
# Arithmetics Operators..

x = 182
y = 437

In [43]:
# Add
Sum = x + y
print("The Sum is : ", Sum)

The Sum is :  110

In [44]:
# Subtract.
x = 1000
y = 100
Sub = x - y
print("The subtract value is : ", Sub);

The subtract value is :  900

In [45]:
# Multiply.

x = 3
y = 9

Mult = x * y

print("The Multiplication value is : ", Mult);

The Multiplication value is :  27

In [46]:
# Dividation.

x = 100
y = 10

Div = x / y

print("The Dividation value is : ", Div);

The Dividation value is :  10.0

In [47]:
# Mod Operator.

Mod = x % y

print("The MOD value is : ", Mod);

The MOD value is :  0

In [48]:
# Exponent Operator.

exp = x ** y

print("The Exponent value is : ", exp);

The Exponent value is :  100000000000000000000

In [49]:
# Comperision operator.
# it returns a boolien value.
x == y
x != y
x > y
x >= y
x < y
x <= y
x > 10 and y < 10000
x < 10 or y > 100
not (x > 10)

False

In [51]:
# Assignment Operators.

a = 5
a

a *= 2
a

a //= 3
a

3

# List..

In [11]:
favourite_languages = ['C/C++', 'Java', 'Python']
favourite_languages

['C/C++', 'Java', 'Python']

In [14]:
# Access an elemrnts.
favourite_languages[1]

'Java'

In [15]:
# Len of List.
len(favourite_languages)

3

In [16]:
# Find the last element of List..
favourite_languages[len(favourite_languages) - 1]

'Python'

In [17]:
# Use of Negative indexing.
favourite_languages[-1]

'Python'

In [18]:
# Sclising a List.
favourite_languages[:]

['C/C++', 'Java', 'Python']

In [19]:
favourite_languages[:2]

['C/C++', 'Java']

In [20]:
favourite_languages[1:]

['Java', 'Python']

In [22]:
favourite_languages[-2:]

['Java', 'Python']

In [23]:
# Add an elements.
favourite_languages.append('JavaScript')
favourite_languages

['C/C++', 'Java', 'Python', 'JavaScript']

In [24]:
# Update a Elements.
favourite_languages[2] = 'Python 3'
favourite_languages

['C/C++', 'Java', 'Python 3', 'JavaScript']

In [25]:
# Remove the Elements.
last_element = favourite_languages.pop()
last_element

'JavaScript'

In [26]:
favourite_languages

['C/C++', 'Java', 'Python 3']

In [27]:
# Remove Element By indexing.
del favourite_languages[2]
favourite_languages

['C/C++', 'Java']

In [29]:
# Clear entire list.
favourite_languages.clear()

In [30]:
# List method.
# Create a list
numbers = [4, 2, 8, 5, 2]
numbers

[4, 2, 8, 5, 2]

In [31]:
# Count frequency of items.
numbers.count(2)

2

In [32]:
# Numbers of count.
numbers.count(2)

2

In [33]:
# Index of an Element.
numbers.count(2)

2

In [34]:
# Sort a List.
numbers.sort()
numbers

[2, 2, 4, 5, 8]

In [35]:
# Revarse a list.
numbers.reverse()
numbers

[8, 5, 4, 2, 2]

In [36]:
# Extand a list.
numbers.extend([7, 1, 10])
numbers

[8, 5, 4, 2, 2, 7, 1, 10]

In [38]:
# Copy the list.
numbers_copy = numbers.copy()
numbers_copy

[8, 5, 4, 2, 2, 7, 1, 10]

# 2D List.

In [39]:
# Create 2D List.
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

In [40]:
# Looping 2D List.
for row in matrix:
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [41]:
# Access 2D List.
matrix[1][2]

6

In [42]:
# Slicing a 2D list(row only).
matrix[1:3]

[[4, 5, 6], [7, 8, 9]]

## Conditionals Statement in Python.

In [52]:
# Basic Structure.
x = 10
if x > 5:
    print("x is greater than 5")

x is greater than 5

In [53]:
# if-else statement
y = 3
if y % 2 == 0:
    print("y is even")
else:
    print("y is odd")

y is odd

In [54]:
# if-elif-else statement
z = -1
if z > 0:
    print("z is positive")
elif z < 0:
    print("z is negative")
else:
    print("z is zero")

z is negative

In [55]:
# Using Logical Operator.
a = 7
b = 15
# Using 'and'
if a > 5 and b > 10:
    print("Both conditions are True")

Both conditions are True

In [56]:
# using or.
if a < 5 or b > 10:
    print("At least one condition is True")

At least one condition is True

In [57]:
# Using 'not'
if not (a > 10):
    print("a is not greater than 10")

a is not greater than 10

# Loop in Python.

In [60]:
fruits = ['apple', 'banana', 'cherry', 'date']

print("Using a basic for loop:")
for fruit in fruits:
    print(fruit)

Using a basic for loop:
apple
banana
cherry
date

In [61]:
# Looping using range.
no_of_fruits = len(fruits)

for i in range(no_of_fruits):
    print(f"Index {i}: {fruits[i]}")

Index 0: apple
Index 1: banana
Index 2: cherry
Index 3: date

In [62]:
# Using enumerate.
for index, fruit in enumerate(fruits):
    print(f"Index {index}: {fruit}")

Index 0: apple
Index 1: banana
Index 2: cherry
Index 3: date

In [63]:
# Accessing 2D List.
nested_list = [['red', 'blue'], ['circle', 'square'], ['cat', 'dog']]
for sublist in nested_list:
    for item in sublist:
        print(item, end=' ')
    print()

red blue
circle square
cat dog

In [64]:
# List comperehesion.
uppercase_fruits = [fruit.upper() for fruit in fruits]
print(uppercase_fruits)

['APPLE', 'BANANA', 'CHERRY', 'DATE']

In [65]:
# Looping reverse order.
for fruit in reversed(fruits):
    print(fruit)

date
cherry
banana
apple

In [66]:
# using zip to iterate two list.
colors = ['red', 'yellow', 'pink', 'brown']
for fruit, color in zip(fruits, colors):
    print(f"The color of {fruit} is {color}")

The color of apple is red
The color of banana is yellow
The color of cherry is pink
The color of date is brown

In [67]:
# use tqdm to show progress.
from tqdm import tqdm
import time

for fruit in tqdm(range(1000)):
    time.sleep(0.01)

100%|| 1000/1000 [00:10<00:00, 96.96it/s]

In [68]:
# Use While Loop.
index = 0
while index < len(fruits):
    print(fruits[index])
    index += 1

apple
banana
cherry
date

In [69]:
# Loop through dictionary.
my_dict = {
    'apple': 'red',
    'banana': 'yellow',
    'cherry': 'pink',
    'date': 'date'
}

for key, value in my_dict.items():
    print(f"{key}: {value}")

apple: red
banana: yellow
cherry: pink
date: date

## Functions.

In [70]:
# Basic Function Structure.
def square(x):
    return x * x

def cube(x):
    return x * x * x

square(5)

25

In [72]:
joy = set([1,2,3,4,5])

joy.add(6)

In [73]:
def multiply(x, y):
    return x * y

multiply(2, 3)

6

In [74]:
# Modulas.
import math

num = 25
print(f"Square root of {num}: {math.sqrt(num)}")
print(f"Factorial of 5: {math.factorial(5)}")

Square root of 25: 5.0
Factorial of 5: 120

In [75]:
# Lambda Functions.
print("\nLambda Function Example:")

double = lambda x: x * 2
print(f"Double of 5 is: {double(5)}")

Lambda Function Example:
Double of 5 is: 10

In [76]:
# File Handling : Write to a file.
file_path = "sample.txt"
with open(file_path, "w") as file:
    file.write("This is a sample text written to the file.\n")
    file.write("Python File Handling is easy!\n")

print(f"Data has been written to {file_path}.")

Data has been written to sample.txt.

In [77]:
# File Handling : Reading from a file.
try:
    with open(file_path, "r") as file:
        content = file.read()
        print("File Content:\n")
        print(content)
except FileNotFoundError:
    print(f"File {file_path} not found.")

File Content:

This is a sample text written to the file.
Python File Handling is easy!

In [78]:
# Exception Handling.
def divide_numbers(a, b):
    try:
        result = a / b
    except ZeroDivisionError:
        return "Error: Division by zero is not allowed."
    except TypeError:
        return "Error: Invalid input type."
    return result

In [79]:
divide_numbers(3, 5)

0.6